<div class="container">
  <h1>
    {{ title }}
  </h1>

  <button class="btn btn-social mr-2"
      (click)="loginFacebook()"
      [disabled]="loginStatus.facebook"><img src="assets/icons/facebook.svg" class="m-1" />Log in with Facebook</button>
  <button class="btn btn-social mr-2"
      (click)="loginGoogle()"
      [disabled]="loginStatus.google"><img src="assets/icons/google.svg" class="m-1" />Log in with Google</button>

  <h2>Global Login Status</h2>
  <pre class="code" data-lang="JSON"><code>{{ loginStatus | json }}</code></pre>

  <app-user-details *ngIf="facebookUserDetails"
      [title]="'Facebook Login Details'"
      [userDetails]="facebookUserDetails"
      (logout)="logoutFacebook()"
      [loginToken]="fbLoginToken"></app-user-details>

  <app-user-details *ngIf="googleUserDetails"
      [title]="'Google Login Details'"
      [userDetails]="googleUserDetails"
      (logout)="logoutGoogle()"
      [loginToken]="googleLoginToken"></app-user-details>
</div>
